.contentLogin {
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $div-login;
    width: 525px;
    height: 358px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    gap: 5px;
       input {
        border-color: $border-input;
        border-radius: 5px;
        width: 330px;
        height: 40px;
       }
}

.contentForm {
  color: #555;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  height: max-content;
  max-width: 1224px;
  width: 100%;
}

.header {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: 100%;
    align-items: center;
    background-color: #4675ca;
}


.contentGeneral {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.formWallet {
    @include shadow;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: space-between;
  padding: 40px;
  width: 726px;
  flex-wrap: wrap;
        input {
            border: 2px solid #e8eaeb;
            border-radius: 3px;
            color: #555;
            font-size: 14px;
            height: 36px;
            line-height: 18px;
            padding: 0 8px;
            display: block;
        }

        select {
            border: 2px solid #e8eaeb;
            border-radius: 3px;
            color: #555;
            font-size: 14px;
            height: 36px;
            line-height: 18px;
            padding: 0 8px;
        }
}

.totalExpense {
    @include shadow;
    align-self: stretch;
    background-color: #fff;
    border-radius: 8px;
    flex-direction: column;
    flex-grow: 1;
    height: 210px;
    padding: 40px;
    position: relative;
    text-align: center;
    top: 0;

    h1 {
        margin-top: 30px;
    }
}

.table {

    background-color: #fff;
    border-radius: 8px;
    color: #3a4840;
    margin: 32px auto;
    max-width: 1224px;
    padding: 40px;
    width: 100%;
    text-align: center;
   thead {
    background-color: $bg-color;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #f2f6fc;
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    text-align: center;
    width: 100%;
        th {
            align-items: center;
            font-size: 0.75rem;
            font-weight: 400;
            justify-content: center;
            width: 116px;
            word-wrap: break-word;
        }
   }
   tbody {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    width: 100%;
        tr {
            align-items: center;
            display: flex;
            justify-content: space-between;
            padding: 12px 0;
            width: 100%;
        }
   }
}